/.idea/
/node_modules/ccxt/.dockerignore
/node_modules/ccxt/.eslintignore
/node_modules/ccxt/js/pro/test/.eslintrc
/node_modules/ccxt/js/test/base/.eslintrc
/node_modules/ccxt/js/.eslintrc
/node_modules/ccxt/js/pro/base/.eslintrc.js
/node_modules/ccxt/js/test/.eslintrc.js
/node_modules/ccxt/.gitattributes
/node_modules/.package-lock.json
/node_modules/ccxt/.readthedocs.yaml
/node_modules/ccxt/js/pro/alpaca.js
/node_modules/ccxt/js/alpaca.js
/node_modules/ccxt/js/pro/ascendex.js
/node_modules/ccxt/js/ascendex.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curve/base.js
/node_modules/ccxt/js/pro/bequant.js
/node_modules/ccxt/js/bequant.js
/node_modules/ccxt/js/bigone.js
/node_modules/ccxt/js/pro/binance.js
/node_modules/ccxt/js/binance.js
/node_modules/ccxt/js/pro/binancecoinm.js
/node_modules/ccxt/js/binancecoinm.js
/node_modules/ccxt/js/pro/binanceus.js
/node_modules/ccxt/js/binanceus.js
/node_modules/ccxt/js/pro/binanceusdm.js
/node_modules/ccxt/js/binanceusdm.js
/node_modules/ccxt/js/bit2c.js
/node_modules/ccxt/js/bitbank.js
/node_modules/ccxt/js/bitbay.js
/node_modules/ccxt/js/bitbns.js
/node_modules/ccxt/js/pro/bitcoincom.js
/node_modules/ccxt/js/bitcoincom.js
/node_modules/ccxt/js/pro/bitfinex.js
/node_modules/ccxt/js/bitfinex.js
/node_modules/ccxt/js/pro/bitfinex2.js
/node_modules/ccxt/js/bitfinex2.js
/node_modules/ccxt/js/bitflyer.js
/node_modules/ccxt/js/bitforex.js
/node_modules/ccxt/js/pro/bitget.js
/node_modules/ccxt/js/bitget.js
/node_modules/ccxt/js/bithumb.js
/node_modules/ccxt/js/pro/bitmart.js
/node_modules/ccxt/js/bitmart.js
/node_modules/ccxt/js/pro/bitmex.js
/node_modules/ccxt/js/bitmex.js
/node_modules/ccxt/js/pro/bitopro.js
/node_modules/ccxt/js/bitopro.js
/node_modules/ccxt/js/bitpanda.js
/node_modules/ccxt/js/pro/bitrue.js
/node_modules/ccxt/js/bitrue.js
/node_modules/ccxt/js/bitso.js
/node_modules/ccxt/js/pro/bitstamp.js
/node_modules/ccxt/js/bitstamp.js
/node_modules/ccxt/js/bitstamp1.js
/node_modules/ccxt/js/pro/bittrex.js
/node_modules/ccxt/js/bittrex.js
/node_modules/ccxt/js/pro/bitvavo.js
/node_modules/ccxt/js/bitvavo.js
/node_modules/ccxt/js/bkex.js
/node_modules/ccxt/js/bl3p.js
/node_modules/ccxt/js/blockchaincom.js
/node_modules/ccxt/js/static_dependencies/BN/bn.js
/node_modules/ws/browser.js
/node_modules/ccxt/js/btcalpha.js
/node_modules/ccxt/js/btcbox.js
/node_modules/ccxt/js/pro/btcex.js
/node_modules/ccxt/js/btcex.js
/node_modules/ccxt/js/btcmarkets.js
/node_modules/ccxt/js/btctradeua.js
/node_modules/ccxt/js/btcturk.js
/node_modules/ccxt/js/buda.js
/node_modules/ws/lib/buffer-util.js
/node_modules/ccxt/js/pro/bybit.js
/node_modules/ccxt/js/bybit.js
/node_modules/ccxt/js/pro/base/Cache.js
/node_modules/ccxt/dist/ccxt.browser.js
/node_modules/ccxt/ccxt.browser.js
/node_modules/ccxt/ccxt.d.ts
/node_modules/ccxt/ccxt.js
/node_modules/ccxt/js/pro/cex.js
/node_modules/ccxt/js/cex.js
/node_modules/ccxt/cleanup.sh
/node_modules/ccxt/build/cleanup-old-tags.js
/node_modules/ccxt/js/pro/base/Client.js
/node_modules/ccxt/CODEOWNERS
/node_modules/ccxt/js/coinbase.js
/node_modules/ccxt/js/pro/coinbaseprime.js
/node_modules/ccxt/js/coinbaseprime.js
/node_modules/ccxt/js/pro/coinbasepro.js
/node_modules/ccxt/js/coinbasepro.js
/node_modules/ccxt/js/coincheck.js
/node_modules/ccxt/js/pro/coinex.js
/node_modules/ccxt/js/coinex.js
/node_modules/ccxt/js/coinfalcon.js
/node_modules/ccxt/js/coinmate.js
/node_modules/ccxt/js/coinone.js
/node_modules/ccxt/js/coinspot.js
/node_modules/ccxt/js/static_dependencies/node-rsa/formats/components.js
/node_modules/ccxt/composer-install.sh
/node_modules/ws/lib/constants.js
/node_modules/ccxt/CONTRIBUTING.md
/node_modules/ccxt/build/countries.js
/node_modules/ccxt/js/base/functions/crypto.js
/node_modules/ccxt/js/static_dependencies/crypto-js/crypto-js.js
/node_modules/ccxt/js/pro/cryptocom.js
/node_modules/ccxt/js/cryptocom.js
/node_modules/ccxt/js/pro/currencycom.js
/node_modules/ccxt/js/currencycom.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curves.js
/node_modules/ccxt/js/delta.js
/node_modules/ccxt/js/pro/deribit.js
/node_modules/ccxt/js/deribit.js
/node_modules/ccxt/js/digifinex.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curve/edwards.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic.js
/node_modules/ccxt/js/base/functions/encode.js
/node_modules/ccxt/js/base/errorHierarchy.js
/node_modules/ccxt/js/base/errors.js
/node_modules/ccxt/js/static_dependencies/node-rsa/asn1/ber/errors.js
/node_modules/ws/lib/event-target.js
/node_modules/ccxt/js/base/Exchange.js
/node_modules/ccxt/js/pro/base/Exchange.js
/node_modules/ccxt/js/pro/exmo.js
/node_modules/ccxt/js/exmo.js
/node_modules/ccxt/build/export-exchanges.js
/node_modules/ws/lib/extension.js
/node_modules/ccxt/js/pro/test/base/fastMessageServer.js
/node_modules/ccxt/js/static_dependencies/fetch-ponyfill/fetch-node.js
/node_modules/ccxt/js/flowbtc.js
/node_modules/ccxt/js/fmfwio.js
/node_modules/ccxt/js/static_dependencies/node-rsa/formats/formats.js
/node_modules/ccxt/js/static_dependencies/qs/formats.js
/node_modules/ccxt/build/fs.js
/node_modules/ccxt/js/base/functions.js
/node_modules/ccxt/js/pro/base/functions.js
/node_modules/ccxt/js/pro/base/Future.js
/node_modules/ccxt/js/pro/gate.js
/node_modules/ccxt/js/gate.js
/node_modules/ccxt/js/pro/gateio.js
/node_modules/ccxt/js/gateio.js
/node_modules/ccxt/js/pro/gemini.js
/node_modules/ccxt/js/gemini.js
/node_modules/ccxt/js/base/functions/generic.js
/node_modules/ccxt/gource.sh
/node_modules/ccxt/js/pro/hitbtc.js
/node_modules/ccxt/js/hitbtc.js
/node_modules/ccxt/js/hitbtc3.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/hmac-drbg/hmac-drbg.js
/node_modules/ccxt/js/pro/hollaex.js
/node_modules/ccxt/js/hollaex.js
/node_modules/ccxt/js/pro/huobi.js
/node_modules/ccxt/js/huobi.js
/node_modules/ccxt/js/pro/huobijp.js
/node_modules/ccxt/js/huobijp.js
/node_modules/ccxt/js/pro/huobipro.js
/node_modules/ccxt/js/huobipro.js
/node_modules/ccxt/js/pro/idex.js
/node_modules/ccxt/js/idex.js
/node_modules/ccxt/js/independentreserve.js
/node_modules/ccxt/index.html
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curve/index.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/ec/index.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/eddsa/index.js
/node_modules/ccxt/js/static_dependencies/node-fetch/index.js
/node_modules/ccxt/js/static_dependencies/node-rsa/asn1/ber/index.js
/node_modules/ccxt/js/static_dependencies/node-rsa/asn1/index.js
/node_modules/ccxt/js/static_dependencies/qs/index.js
/node_modules/ws/index.js
/node_modules/ccxt/js/indodax.js
/node_modules/ccxt/js/itbit.js
/node_modules/ccxt/js/static_dependencies/node-rsa/encryptEngines/js.js
/node_modules/ccxt/js/static_dependencies/node-rsa/libs/jsbn.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/ec/key.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/eddsa/key.js
/node_modules/ccxt/js/pro/kraken.js
/node_modules/ccxt/js/kraken.js
/node_modules/ccxt/js/pro/kucoin.js
/node_modules/ccxt/js/kucoin.js
/node_modules/ccxt/js/pro/kucoinfutures.js
/node_modules/ccxt/js/kucoinfutures.js
/node_modules/ccxt/js/kuna.js
/node_modules/ccxt/js/latoken.js
/node_modules/ccxt/js/lbank.js
/node_modules/ccxt/js/lbank2.js
/node_modules/ws/LICENSE
/node_modules/ccxt/LICENSE.txt
/node_modules/ws/lib/limiter.js
/node_modules/ccxt/js/pro/luno.js
/node_modules/ccxt/js/luno.js
/node_modules/ccxt/js/lykke.js
/node_modules/ccxt/js/mercado.js
/node_modules/ccxt/js/pro/mexc.js
/node_modules/ccxt/js/mexc.js
/node_modules/ccxt/js/mexc3.js
/node_modules/ccxt/js/base/functions/misc.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curve/mont.js
/node_modules/ccxt/multilang.sh
/node_modules/ccxt/js/pro/ndax.js
/node_modules/ccxt/js/ndax.js
/node_modules/ccxt/js/static_dependencies/node-rsa/NodeRSA.js
/node_modules/ccxt/js/novadax.js
/node_modules/ccxt/js/base/functions/number.js
/node_modules/ccxt/js/oceanex.js
/node_modules/ccxt/js/pro/okcoin.js
/node_modules/ccxt/js/okcoin.js
/node_modules/ccxt/js/pro/okex.js
/node_modules/ccxt/js/okex.js
/node_modules/ccxt/js/okex5.js
/node_modules/ccxt/js/pro/okx.js
/node_modules/ccxt/js/okx.js
/node_modules/ccxt/js/pro/base/OrderBook.js
/node_modules/ccxt/js/pro/base/OrderBookSide.js
/node_modules/ccxt/package.json
/node_modules/ws/package.json
/node_modules/ccxt/js/static_dependencies/qs/parse.js
/node_modules/ccxt/js/paymium.js
/node_modules/ws/lib/permessage-deflate.js
/node_modules/ccxt/js/pro/phemex.js
/node_modules/ccxt/js/phemex.js
/node_modules/ccxt/js/static_dependencies/node-rsa/formats/pkcs1.js
/node_modules/ccxt/js/static_dependencies/node-rsa/schemes/pkcs1.js
/node_modules/ccxt/js/static_dependencies/node-rsa/formats/pkcs8.js
/node_modules/ccxt/js/base/functions/platform.js
/node_modules/ccxt/js/poloniex.js
/node_modules/ccxt/js/poloniexfutures.js
/node_modules/ccxt/postinstall.js
/node_modules/ccxt/js/base/Precise.js
/node_modules/ccxt/js/pro/test/pro-tests.json
/node_modules/ccxt/js/probit.js
/node_modules/ccxt/js/static_dependencies/node-rsa/asn1/ber/reader.js
/node_modules/ccxt/js/static_dependencies/README.md
/node_modules/ccxt/README.md
/node_modules/ws/README.md
/node_modules/ws/lib/receiver.js
/node_modules/ccxt/js/pro/ripio.js
/node_modules/ccxt/js/ripio.js
/node_modules/ccxt/js/static_dependencies/node-rsa/libs/rsa.js
/node_modules/ccxt/run-tests-ws.js
/node_modules/ccxt/js/static_dependencies/node-rsa/schemes/schemes.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/precomputed/secp256k1.js
/node_modules/ws/lib/sender.js
/node_modules/ccxt/js/pro/test/base/server.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/curve/short.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/ec/signature.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/eddsa/signature.js
/node_modules/ccxt/js/stex.js
/node_modules/ws/lib/stream.js
/node_modules/ccxt/js/base/functions/string.js
/node_modules/ccxt/js/static_dependencies/qs/stringify.js
/node_modules/ws/lib/subprotocol.js
/node_modules/ccxt/js/test/Exchange/test.account.js
/node_modules/ccxt/js/test/Exchange/test.balance.js
/node_modules/ccxt/js/test/base/test.base.js
/node_modules/ccxt/js/test/base/functions/test.binanceMarkets.js
/node_modules/ccxt/js/test/Exchange/test.borrowRate.js
/node_modules/ccxt/js/pro/test/base/test.Cache.js
/node_modules/ccxt/js/test/base/functions/test.crypto.js
/node_modules/ccxt/js/test/Exchange/test.currency.js
/node_modules/ccxt/js/test/base/functions/test.datetime.js
/node_modules/ccxt/js/test/Exchange/test.fetchAccounts.js
/node_modules/ccxt/js/test/Exchange/test.fetchBalance.js
/node_modules/ccxt/js/test/Exchange/test.fetchBorrowInterest.js
/node_modules/ccxt/js/test/Exchange/test.fetchBorrowRate.js
/node_modules/ccxt/js/test/Exchange/test.fetchBorrowRates.js
/node_modules/ccxt/js/test/Exchange/test.fetchClosedOrders.js
/node_modules/ccxt/js/test/Exchange/test.fetchCurrencies.js
/node_modules/ccxt/js/test/Exchange/test.fetchDeposits.js
/node_modules/ccxt/js/test/Exchange/test.fetchFundingRateHistory.js
/node_modules/ccxt/js/test/Exchange/test.fetchL2OrderBook.js
/node_modules/ccxt/js/test/Exchange/test.fetchLedger.js
/node_modules/ccxt/js/test/Exchange/test.fetchLeverageTiers.js
/node_modules/ccxt/js/test/Exchange/test.fetchMarketLeverageTiers.js
/node_modules/ccxt/js/test/Exchange/test.fetchMarkets.js
/node_modules/ccxt/js/test/Exchange/test.fetchMyTrades.js
/node_modules/ccxt/js/test/Exchange/test.fetchOHLCV.js
/node_modules/ccxt/js/test/Exchange/test.fetchOpenInterestHistory.js
/node_modules/ccxt/js/test/Exchange/test.fetchOpenOrders.js
/node_modules/ccxt/js/test/Exchange/test.fetchOrderBook.js
/node_modules/ccxt/js/test/Exchange/test.fetchOrderBooks.js
/node_modules/ccxt/js/test/Exchange/test.fetchOrders.js
/node_modules/ccxt/js/test/Exchange/test.fetchPositions.js
/node_modules/ccxt/js/test/Exchange/test.fetchStatus.js
/node_modules/ccxt/js/test/Exchange/test.fetchTicker.js
/node_modules/ccxt/js/test/Exchange/test.fetchTickers.js
/node_modules/ccxt/js/test/Exchange/test.fetchTrades.js
/node_modules/ccxt/js/test/Exchange/test.fetchTradingFee.js
/node_modules/ccxt/js/test/Exchange/test.fetchTradingFees.js
/node_modules/ccxt/js/test/Exchange/test.fetchTransactionFees.js
/node_modules/ccxt/js/test/Exchange/test.fetchTransactions.js
/node_modules/ccxt/js/test/Exchange/test.fetchWithdrawals.js
/node_modules/ccxt/js/test/base/functions/test.generic.js
/node_modules/ccxt/js/test/errors/test.InsufficientFunds.js
/node_modules/ccxt/js/test/errors/test.InvalidNonce.js
/node_modules/ccxt/js/test/errors/test.InvalidOrder.js
/node_modules/ccxt/js/pro/test/test.js
/node_modules/ccxt/js/test/test.js
/node_modules/ccxt/js/test/Exchange/test.ledgerItem.js
/node_modules/ccxt/js/test/Exchange/test.leverageTier.js
/node_modules/ccxt/js/test/Exchange/test.loadMarkets.js
/node_modules/ccxt/js/test/Exchange/test.marginModification.js
/node_modules/ccxt/js/test/Exchange/test.market.js
/node_modules/ccxt/js/test/base/functions/test.number.js
/node_modules/ccxt/js/test/Exchange/test.ohlcv.js
/node_modules/ccxt/js/test/Exchange/test.openInterest.js
/node_modules/ccxt/js/test/Exchange/test.order.js
/node_modules/ccxt/js/pro/test/base/test.OrderBook.js
/node_modules/ccxt/js/test/Exchange/test.orderbook.js
/node_modules/ccxt/js/test/errors/test.OrderNotFound.js
/node_modules/ccxt/js/test/Exchange/test.position.js
/node_modules/ccxt/js/test/Exchange/test.signIn.js
/node_modules/ccxt/js/test/Exchange/test.throttle.js
/node_modules/ccxt/js/test/Exchange/test.ticker.js
/node_modules/ccxt/js/test/base/functions/test.time.js
/node_modules/ccxt/js/test/test.timeout_hang.js
/node_modules/ccxt/js/test/Exchange/test.trade.js
/node_modules/ccxt/js/test/Exchange/test.tradingFee.js
/node_modules/ccxt/js/test/Exchange/test.transaction.js
/node_modules/ccxt/js/test/base/functions/test.type.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchBalance.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchMyTrades.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchOHLCV.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchOrderBook.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchOrders.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchTicker.js
/node_modules/ccxt/js/pro/test/Exchange/test.watchTrades.js
/node_modules/ccxt/tests-manager.sh
/node_modules/ccxt/js/therock.js
/node_modules/ccxt/js/base/functions/throttle.js
/node_modules/ccxt/js/tidex.js
/node_modules/ccxt/js/base/functions/time.js
/node_modules/ccxt/js/timex.js
/node_modules/ccxt/js/tokocrypto.js
/node_modules/ccxt/build/transpile.js
/node_modules/ccxt/js/base/functions/type.js
/node_modules/ccxt/js/static_dependencies/node-rsa/asn1/ber/types.js
/node_modules/ccxt/js/pro/upbit.js
/node_modules/ccxt/js/upbit.js
/node_modules/ccxt/js/static_dependencies/elliptic/lib/elliptic/utils.js
/node_modules/ccxt/js/static_dependencies/node-rsa/utils.js
/node_modules/ccxt/js/static_dependencies/qs/utils.js
/node_modules/ws/lib/validation.js
/node_modules/ccxt/build/vss.js
/node_modules/ccxt/js/wavesexchange.js
/node_modules/ccxt/js/pro/wazirx.js
/node_modules/ccxt/js/wazirx.js
/node_modules/ws/lib/websocket.js
/node_modules/ws/lib/websocket-server.js
/node_modules/ccxt/js/pro/whitebit.js
/node_modules/ccxt/js/whitebit.js
/node_modules/ccxt/js/pro/woo.js
/node_modules/ccxt/js/woo.js
/node_modules/ws/wrapper.mjs
/node_modules/ccxt/js/pro/base/WsClient.js
/node_modules/ccxt/js/yobit.js
/node_modules/ccxt/js/zaif.js
/node_modules/ccxt/js/pro/zb.js
/node_modules/ccxt/js/zb.js
/node_modules/ccxt/js/pro/zipmex.js
/node_modules/ccxt/js/zipmex.js
/node_modules/ccxt/js/zonda.js
